In [10]:
import pandas as pd
# import warnings
# import re

# # Suppress the specific UserWarning from openpyxl
# warnings.filterwarnings("ignore", category=UserWarning, message="Data Validation extension is not supported")

In [11]:
# import pandas as pd

# Specify the path to the CSV file
csv_file_path = 'FCA_final_16_8.csv'

# Read the CSV file into a DataFrame
df = pd.read_csv(csv_file_path)

# Now you have your data in the 'df' DataFrame
# print(df)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 28 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   company_id                  22 non-null     float64
 1   Company name                51 non-null     object
 2   Company address             12 non-null     object
 3   company_name_slug           22 non-null     object
 4   company_no                  20 non-null     object
 5   reviews_count               22 non-null     float64
 6   average_company_rating      22 non-null     float64
 7   company_review_summary_url  22 non-null     object
 8   company_review_url          22 non-null     object
 9   foreign_company_id          22 non-null     float64
 10  map_address                 12 non-null     object
 11  map_latitude                7 non-null      float64
 12  map_longitude               7 non-null      float64
 13  industry                    22 non-null     object
 14  website_url                 6 non-null      object
 15  Secondary Address           0 non-null      float64
 16  Company Tel                 48 non-null     object
 17  Company Email               48 non-null     object
 18  Contact Person              51 non-null     object
 19  Position                    51 non-null     object
 20  FET                         51 non-null     int64
 21  FCA                         51 non-null     int64
 22  FOB                         51 non-null     int64
 23  FCM                         51 non-null     int64
 24  FOE                         51 non-null     int64
 25  FOM                         51 non-null     int64
 26  FIST                        51 non-null     int64
 27  FCI                         51 non-null     int64
dtypes: float64(7), int64(8), object(13)
memory usage: 11.3+ KB

In [12]:
# Specify the path to the CSV file
csv_file_path = 'FET_JOBS_PAIRED_with_tertiary_address.csv'

# Read the CSV file into a DataFrame
df2 = pd.read_csv(csv_file_path)

# Now you have your data in the 'df' DataFrame
# print(df)
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132 entries, 0 to 131
Data columns (total 29 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   company_id                  97 non-null     float64
 1   Company name                132 non-null    object
 2   Company address             73 non-null     object
 3   company_name_slug           97 non-null     object
 4   company_no                  87 non-null     object
 5   reviews_count               97 non-null     float64
 6   average_company_rating      97 non-null     float64
 7   company_review_summary_url  97 non-null     object
 8   company_review_url          97 non-null     object
 9   foreign_company_id          97 non-null     float64
 10  map_address                 73 non-null     object
 11  map_latitude                30 non-null     float64
 12  map_longitude               30 non-null     float64
 13  industry                    97 non-null     object
 14  website_url                 39 non-null     object
 15  Secondary Address           0 non-null      float64
 16  Company Tel                 0 non-null      float64
 17  Company Email               58 non-null     object
 18  Contact Person              58 non-null     object
 19  Position                    57 non-null     object
 20  FET                         132 non-null    int64
 21  FCA                         132 non-null    int64
 22  FOB                         132 non-null    int64
 23  FCM                         132 non-null    int64
 24  FOE                         132 non-null    int64
 25  FOM                         132 non-null    int64
 26  FIST                        132 non-null    int64
 27  FCI                         132 non-null    int64
 28  tertiary address            39 non-null     object
dtypes: float64(8), int64(8), object(13)
memory usage: 30.0+ KB

In [13]:
# Specify the path to the CSV file
csv_file_path = 'FCI_new.xlsx'

# Read the CSV file into a DataFrame
df3 = pd.read_excel(csv_file_path)

# Now you have your data in the 'df' DataFrame
# print(df)
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208 entries, 0 to 207
Data columns (total 28 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   company_id                  159 non-null    float64
 1   Company name                208 non-null    object
 2   Company address             208 non-null    object
 3   company_name_slug           159 non-null    object
 4   company_no                  149 non-null    object
 5   reviews_count               159 non-null    float64
 6   average_company_rating      159 non-null    float64
 7   company_review_summary_url  158 non-null    object
 8   company_review_url          158 non-null    object
 9   foreign_company_id          159 non-null    float64
 10  map_address                 159 non-null    object
 11  map_latitude                34 non-null     float64
 12  map_longitude               34 non-null     float64
 13  industry                    159 non-null    object
 14  website_url                 98 non-null     object
 15  FOB                         208 non-null    int64
 16  FCM                         208 non-null    int64
 17  FOE                         208 non-null    int64
 18  FOM                         208 non-null    int64
 19  FIST                        208 non-null    int64
 20  FCI                         208 non-null    int64
 21  FET                         208 non-null    int64
 22  FCA                         208 non-null    int64
 23  Secondary Address           25 non-null     object
 24  Contact Person              0 non-null      float64
 25  Company Email               0 non-null      float64
 26  Company Tel                 0 non-null      float64
 27  Position                    0 non-null      float64
dtypes: float64(10), int64(8), object(10)
memory usage: 45.6+ KB

In [14]:
# Specify the path to the CSV file
csv_file_path = 'FOB_new.xlsx'

# Read the CSV file into a DataFrame
df4 = pd.read_excel(csv_file_path)

# Now you have your data in the 'df' DataFrame
# print(df)
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 28 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   company_id                  52 non-null     float64
 1   Company name                77 non-null     object
 2   Company address             77 non-null     object
 3   company_name_slug           52 non-null     object
 4   company_no                  44 non-null     object
 5   reviews_count               52 non-null     float64
 6   average_company_rating      52 non-null     float64
 7   company_review_summary_url  52 non-null     object
 8   company_review_url          52 non-null     object
 9   foreign_company_id          52 non-null     float64
 10  map_address                 38 non-null     object
 11  map_latitude                17 non-null     float64
 12  map_longitude               17 non-null     float64
 13  industry                    52 non-null     object
 14  website_url                 16 non-null     object
 15  FOB                         77 non-null     int64
 16  FCM                         77 non-null     int64
 17  FOE                         77 non-null     int64
 18  FOM                         77 non-null     int64
 19  FIST                        77 non-null     int64
 20  FCI                         77 non-null     int64
 21  FET                         77 non-null     int64
 22  FCA                         77 non-null     int64
 23  Secondary Address           14 non-null     object
 24  Contact Person              0 non-null      float64
 25  Company Email               0 non-null      float64
 26  Company Tel                 0 non-null      float64
 27  Position                    0 non-null      float64
dtypes: float64(10), int64(8), object(10)
memory usage: 17.0+ KB

In [15]:
# List of DataFrames to concatenate
data_frames = [df, df2, df3, df4]

# Concatenate the DataFrames
master_df = pd.concat(data_frames, ignore_index=True)

# Now master_df contains the combined data
master_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 468 entries, 0 to 467
Data columns (total 29 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   company_id                  330 non-null    float64
 1   Company name                468 non-null    object
 2   Company address             370 non-null    object
 3   company_name_slug           330 non-null    object
 4   company_no                  300 non-null    object
 5   reviews_count               330 non-null    float64
 6   average_company_rating      330 non-null    float64
 7   company_review_summary_url  329 non-null    object
 8   company_review_url          329 non-null    object
 9   foreign_company_id          330 non-null    float64
 10  map_address                 282 non-null    object
 11  map_latitude                88 non-null     float64
 12  map_longitude               88 non-null     float64
 13  industry                    330 non-null    object
 14  website_url                 159 non-null    object
 15  Secondary Address           39 non-null     object
 16  Company Tel                 48 non-null     object
 17  Company Email               106 non-null    object
 18  Contact Person              109 non-null    object
 19  Position                    108 non-null    object
 20  FET                         468 non-null    int64
 21  FCA                         468 non-null    int64
 22  FOB                         468 non-null    int64
 23  FCM                         468 non-null    int64
 24  FOE                         468 non-null    int64
 25  FOM                         468 non-null    int64
 26  FIST                        468 non-null    int64
 27  FCI                         468 non-null    int64
 28  tertiary address            39 non-null     object
dtypes: float64(6), int64(8), object(15)
memory usage: 106.2+ KB

In [16]:
output_csv_path = 'master_df.csv'
master_df.to_csv(output_csv_path, index=False)

print(f"New DataFrame saved to '{output_csv_path}'")

New DataFrame saved to 'master_df.csv'

In [19]:
# import pandas as pd

# Specify the path to the CSV file
csv_file_path = 'master_df.csv'

# Read the CSV file into a DataFrame
df = pd.read_csv(csv_file_path)

# Now you have your data in the 'df' DataFrame
# print(df)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 459 entries, 0 to 458
Data columns (total 29 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   company_id                  324 non-null    float64
 1   Company name                459 non-null    object
 2   Company address             361 non-null    object
 3   company_name_slug           324 non-null    object
 4   company_no                  294 non-null    object
 5   reviews_count               324 non-null    float64
 6   average_company_rating      324 non-null    float64
 7   company_review_summary_url  323 non-null    object
 8   company_review_url          323 non-null    object
 9   foreign_company_id          324 non-null    float64
 10  map_address                 276 non-null    object
 11  map_latitude                87 non-null     float64
 12  map_longitude               87 non-null     float64
 13  industry                    324 non-null    object
 14  website_url                 157 non-null    object
 15  Secondary Address           38 non-null     object
 16  Company Tel                 48 non-null     object
 17  Company Email               106 non-null    object
 18  Contact Person              109 non-null    object
 19  Position                    108 non-null    object
 20  FET                         459 non-null    int64
 21  FCA                         459 non-null    int64
 22  FOB                         459 non-null    int64
 23  FCM                         459 non-null    int64
 24  FOE                         459 non-null    int64
 25  FOM                         459 non-null    int64
 26  FIST                        459 non-null    int64
 27  FCI                         459 non-null    int64
 28  tertiary address            43 non-null     object
dtypes: float64(6), int64(8), object(15)
memory usage: 104.1+ KB

In [23]:
# Replace 'keyword' with the keyword you want to search for
keyword = 'sunnicasia'

# # Read the CSV file into a pandas DataFrame
# df = pd.read_csv(csv_file_path)

# Filter rows containing the keyword in the 'company_name' column
filtered_df = df[df['Company name'].str.contains(keyword, case=False, na=False)]

# Print the filtered DataFrame
print(filtered_df['Company name'])
filtered_df.count()

248    SUNNICASIA MALAYSIA SDN. BHD.
Name: Company name, dtype: object

company_id                    1
Company name                  1
Company address               1
company_name_slug             1
company_no                    1
reviews_count                 1
average_company_rating        1
company_review_summary_url    1
company_review_url            1
foreign_company_id            1
map_address                   1
map_latitude                  0
map_longitude                 0
industry                      1
website_url                   1
Secondary Address             0
Company Tel                   0
Company Email                 0
Contact Person                0
Position                      0
FET                           1
FCA                           1
FOB                           1
FCM                           1
FOE                           1
FOM                           1
FIST                          1
FCI                           1
tertiary address              0
dtype: int64

In [24]:
# Specify the company name you want to search for
target_company_name = 'SUNNICASIA MALAYSIA SDN. BHD.'

# Filter rows based on the specified company name
target_company_rows = df[df['Company name'] == target_company_name]

# Set the display option to show all the content of the columns
pd.set_option('display.max_colwidth', None)

# Print the entire rows for the target company
print(target_company_rows)

       company_id                   Company name  \
248  1.560000e+14  SUNNICASIA MALAYSIA SDN. BHD.

                                                                         Company address  \
248  Menara Axis, 2, Jalan 51a/223, Seksyen 51a, 46100 Petaling Jaya, Selangor, Malaysia

                       company_name_slug            company_no  reviews_count  \
248  sunnicasia-malaysia-156024532046486  W10-CP-10001251/2010            2.0

     average_company_rating  \
248                     5.0

                             company_review_summary_url  \
248  /companies/156024532046486/company-reviews/summary

                             company_review_url  foreign_company_id  ...  \
248  /companies/156024532046486/company-reviews            168394.0  ...

    Position  FET  FCA FOB FCM FOE FOM FIST FCI tertiary address
248      NaN    0    0   0   0   0   0    0   1              NaN

[1 rows x 29 columns]

# fixing the ID from master to jobstreet
    -wait until we have all 8
    -test now for 4

In [47]:
# Specify the path to the CSV file
csv_file_path = 'master_df.csv'

# Read the CSV file into a DataFrame
df = pd.read_csv(csv_file_path)

# Now you have your data in the 'df' DataFrame
# print(df)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 459 entries, 0 to 458
Data columns (total 29 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   company_id                  324 non-null    float64
 1   Company name                459 non-null    object
 2   Company address             361 non-null    object
 3   company_name_slug           324 non-null    object
 4   company_no                  295 non-null    object
 5   reviews_count               324 non-null    float64
 6   average_company_rating      324 non-null    float64
 7   company_review_summary_url  323 non-null    object
 8   company_review_url          323 non-null    object
 9   foreign_company_id          324 non-null    float64
 10  map_address                 276 non-null    object
 11  map_latitude                87 non-null     float64
 12  map_longitude               87 non-null     float64
 13  industry                    324 non-null    object
 14  website_url                 158 non-null    object
 15  Secondary Address           38 non-null     object
 16  Company Tel                 48 non-null     object
 17  Company Email               106 non-null    object
 18  Contact Person              109 non-null    object
 19  Position                    108 non-null    object
 20  FET                         459 non-null    int64
 21  FCA                         459 non-null    int64
 22  FOB                         459 non-null    int64
 23  FCM                         459 non-null    int64
 24  FOE                         459 non-null    int64
 25  FOM                         459 non-null    int64
 26  FIST                        459 non-null    int64
 27  FCI                         459 non-null    int64
 28  tertiary address            43 non-null     object
dtypes: float64(6), int64(8), object(15)
memory usage: 104.1+ KB

In [48]:
# Specify the path to the CSV file
csv_file_path = 'FIST_new.xlsx'

# Read the CSV file into a DataFrame
df2 = pd.read_excel(csv_file_path)

# Now you have your data in the 'df' DataFrame
# print(df)
# df2.info() 


# import pandas as pd

# Assuming you have already read the Excel file into df
# Replace 'old_column_name' with the actual column name you want to rename
# Replace 'new_column_name' with the desired new column name
df2.rename(columns={'Secondary  Address': 'Secondary Address'}, inplace=True)

# Now the column name has been changed in the DataFrame
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 188 entries, 0 to 187
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   company_id                  116 non-null    float64
 1   Company name                188 non-null    object
 2   Company address             188 non-null    object
 3   company_name_slug           116 non-null    object
 4   company_no                  104 non-null    object
 5   reviews_count               116 non-null    float64
 6   average_company_rating      115 non-null    float64
 7   company_review_summary_url  116 non-null    object
 8   company_review_url          116 non-null    object
 9   foreign_company_id          116 non-null    float64
 10  map_address                 90 non-null     object
 11  map_latitude                38 non-null     float64
 12  map_longitude               38 non-null     float64
 13  industry                    116 non-null    object
 14  website_url                 67 non-null     object
 15  Secondary Address           39 non-null     object
 16  FOB                         188 non-null    int64
 17  FCM                         188 non-null    int64
 18  FOE                         188 non-null    int64
 19  FOM                         188 non-null    int64
 20  FIST                        188 non-null    int64
 21  FCI                         188 non-null    int64
 22  FET                         188 non-null    int64
 23  FCA                         188 non-null    int64
dtypes: float64(6), int64(8), object(10)
memory usage: 35.4+ KB

In [49]:
# # Specify the path to the CSV file
# csv_file_path = 'FCM_final (1).xlsx'

# # Read the CSV file into a DataFrame
# df3 = pd.read_excel(csv_file_path)

# # Now you have your data in the 'df' DataFrame
# # print(df)
# df3.info()

In [50]:
# List of DataFrames to concatenate
# data_frames = [df, df2, df3]
data_frames = [df, df2]

# Concatenate the DataFrames
master_df_2 = pd.concat(data_frames, ignore_index=True)

# Now master_df contains the combined data
master_df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 647 entries, 0 to 646
Data columns (total 29 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   company_id                  440 non-null    float64
 1   Company name                647 non-null    object
 2   Company address             549 non-null    object
 3   company_name_slug           440 non-null    object
 4   company_no                  399 non-null    object
 5   reviews_count               440 non-null    float64
 6   average_company_rating      439 non-null    float64
 7   company_review_summary_url  439 non-null    object
 8   company_review_url          439 non-null    object
 9   foreign_company_id          440 non-null    float64
 10  map_address                 366 non-null    object
 11  map_latitude                125 non-null    float64
 12  map_longitude               125 non-null    float64
 13  industry                    440 non-null    object
 14  website_url                 225 non-null    object
 15  Secondary Address           77 non-null     object
 16  Company Tel                 48 non-null     object
 17  Company Email               106 non-null    object
 18  Contact Person              109 non-null    object
 19  Position                    108 non-null    object
 20  FET                         647 non-null    int64
 21  FCA                         647 non-null    int64
 22  FOB                         647 non-null    int64
 23  FCM                         647 non-null    int64
 24  FOE                         647 non-null    int64
 25  FOM                         647 non-null    int64
 26  FIST                        647 non-null    int64
 27  FCI                         647 non-null    int64
 28  tertiary address            43 non-null     object
dtypes: float64(6), int64(8), object(15)
memory usage: 146.7+ KB

In [51]:
output_csv_path = 'master_df_2.csv'
master_df_2.to_csv(output_csv_path, index=False)

print(f"New DataFrame saved to '{output_csv_path}'")

New DataFrame saved to 'master_df_2.csv'

# Final compilation of all 8 faculties

In [72]:
# Specify the path to the CSV file
csv_file_path = 'master_df_2.csv'

# Read the CSV file into a DataFrame
df = pd.read_csv(csv_file_path)

# Now you have your data in the 'df' DataFrame
# print(df)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 646 entries, 0 to 645
Data columns (total 29 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   company_id                  440 non-null    float64
 1   Company name                646 non-null    object
 2   Company address             548 non-null    object
 3   company_name_slug           440 non-null    object
 4   company_no                  399 non-null    object
 5   reviews_count               440 non-null    float64
 6   average_company_rating      439 non-null    float64
 7   company_review_summary_url  439 non-null    object
 8   company_review_url          439 non-null    object
 9   foreign_company_id          440 non-null    float64
 10  map_address                 366 non-null    object
 11  map_latitude                125 non-null    float64
 12  map_longitude               125 non-null    float64
 13  industry                    440 non-null    object
 14  website_url                 225 non-null    object
 15  Secondary Address           78 non-null     object
 16  Company Tel                 48 non-null     object
 17  Company Email               106 non-null    object
 18  Contact Person              109 non-null    object
 19  Position                    108 non-null    object
 20  FET                         646 non-null    int64
 21  FCA                         646 non-null    int64
 22  FOB                         646 non-null    int64
 23  FCM                         646 non-null    int64
 24  FOE                         646 non-null    int64
 25  FOM                         646 non-null    int64
 26  FIST                        646 non-null    int64
 27  FCI                         646 non-null    int64
 28  tertiary address            43 non-null     object
dtypes: float64(6), int64(8), object(15)
memory usage: 146.5+ KB

In [73]:
#New files
#FCM_final
#FOE_new
#FOM_Updated

# Specify the path to the CSV file
csv_file_path = 'FCM_final.xlsx'

# Read the CSV file into a DataFrame
df2 = pd.read_excel(csv_file_path)

# Now you have your data in the 'df' DataFrame
# print(df)
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 254 entries, 0 to 253
Data columns (total 28 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   company_id                  148 non-null    float64
 1   Company name                253 non-null    object
 2   Company address             88 non-null     object
 3   company_name_slug           148 non-null    object
 4   company_no                  131 non-null    object
 5   reviews_count               148 non-null    float64
 6   average_company_rating      148 non-null    float64
 7   company_review_summary_url  147 non-null    object
 8   company_review_url          147 non-null    object
 9   foreign_company_id          148 non-null    float64
 10  map_address                 88 non-null     object
 11  map_latitude                31 non-null     float64
 12  map_longitude               31 non-null     float64
 13  industry                    148 non-null    object
 14  website_url                 61 non-null     object
 15  FOB                         254 non-null    int64
 16  FCA                         254 non-null    int64
 17  FOE                         254 non-null    int64
 18  FOM                         254 non-null    int64
 19  FIST                        254 non-null    int64
 20  FCI                         254 non-null    int64
 21  FET                         254 non-null    int64
 22  FCM                         254 non-null    int64
 23  Position                    0 non-null      float64
 24  Contact Person              0 non-null      float64
 25  Company Email               0 non-null      float64
 26  Company Tel                 0 non-null      float64
 27  Secondary Address           0 non-null      float64
dtypes: float64(11), int64(8), object(9)
memory usage: 55.7+ KB

In [74]:
#FOE_new.xlsx

# Specify the path to the CSV file
csv_file_path = 'FOE_new.xlsx'

# Read the CSV file into a DataFrame
df3 = pd.read_excel(csv_file_path)

# Now you have your data in the 'df' DataFrame
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163 entries, 0 to 162
Data columns (total 28 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   company_id                  112 non-null    float64
 1   Company name                163 non-null    object
 2   Company address             156 non-null    object
 3   company_name_slug           112 non-null    object
 4   company_no                  89 non-null     object
 5   reviews_count               112 non-null    float64
 6   average_company_rating      112 non-null    float64
 7   company_review_summary_url  111 non-null    object
 8   company_review_url          111 non-null    object
 9   foreign_company_id          112 non-null    float64
 10  map_address                 84 non-null     object
 11  map_latitude                32 non-null     float64
 12  map_longitude               32 non-null     float64
 13  industry                    112 non-null    object
 14  website_url                 45 non-null     object
 15  Secondary Address           10 non-null     object
 16  Company Tel                 40 non-null     object
 17  Company Email               34 non-null     object
 18  Contact Person              45 non-null     object
 19  Position                    17 non-null     object
 20  FOB                         163 non-null    int64
 21  FCM                         163 non-null    int64
 22  FOE                         163 non-null    int64
 23  FOM                         163 non-null    int64
 24  FIST                        163 non-null    int64
 25  FCI                         163 non-null    int64
 26  FET                         163 non-null    int64
 27  FCA                         163 non-null    int64
dtypes: float64(6), int64(8), object(14)
memory usage: 35.8+ KB

In [75]:
# Specify the path to the CSV file
csv_file_path = 'FOM_Updated (1).xlsx'

# Read the CSV file into a DataFrame
df4 = pd.read_excel(csv_file_path)

# Assuming you have your DataFrame df
columns_to_drop = ['Link Score', 'source file']

# Drop the specified columns
df4.drop(columns=columns_to_drop, inplace=True)



# Now you have your data in the 'df' DataFrame
# print(df)
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97 entries, 0 to 96
Data columns (total 28 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   company_id                  65 non-null     float64
 1   Company name                97 non-null     object
 2   Company address             83 non-null     object
 3   company_name_slug           65 non-null     object
 4   company_no                  58 non-null     object
 5   reviews_count               65 non-null     float64
 6   average_company_rating      65 non-null     float64
 7   company_review_summary_url  65 non-null     object
 8   company_review_url          65 non-null     object
 9   foreign_company_id          65 non-null     float64
 10  map_address                 51 non-null     object
 11  map_latitude                16 non-null     float64
 12  map_longitude               16 non-null     float64
 13  industry                    65 non-null     object
 14  website_url                 35 non-null     object
 15  FOB                         97 non-null     int64
 16  FCM                         97 non-null     int64
 17  FOE                         97 non-null     int64
 18  FIST                        97 non-null     int64
 19  FCI                         97 non-null     int64
 20  FET                         97 non-null     int64
 21  FCA                         97 non-null     int64
 22  FOM                         97 non-null     int64
 23  Position                    0 non-null      float64
 24  Contact Person              0 non-null      float64
 25  Company Email               0 non-null      float64
 26  Company Tel                 36 non-null     object
 27  Secondary Address           33 non-null     object
dtypes: float64(9), int64(8), object(11)
memory usage: 21.3+ KB

In [76]:
# List of DataFrames to concatenate
data_frames = [df, df2, df3, df4]

# Concatenate the DataFrames
master_df = pd.concat(data_frames, ignore_index=True)

# Now master_df contains the combined data
master_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1160 entries, 0 to 1159
Data columns (total 29 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   company_id                  765 non-null    float64
 1   Company name                1159 non-null   object
 2   Company address             875 non-null    object
 3   company_name_slug           765 non-null    object
 4   company_no                  677 non-null    object
 5   reviews_count               765 non-null    float64
 6   average_company_rating      764 non-null    float64
 7   company_review_summary_url  762 non-null    object
 8   company_review_url          762 non-null    object
 9   foreign_company_id          765 non-null    float64
 10  map_address                 589 non-null    object
 11  map_latitude                204 non-null    float64
 12  map_longitude               204 non-null    float64
 13  industry                    765 non-null    object
 14  website_url                 366 non-null    object
 15  Secondary Address           121 non-null    object
 16  Company Tel                 124 non-null    object
 17  Company Email               140 non-null    object
 18  Contact Person              154 non-null    object
 19  Position                    125 non-null    object
 20  FET                         1160 non-null   int64
 21  FCA                         1160 non-null   int64
 22  FOB                         1160 non-null   int64
 23  FCM                         1160 non-null   int64
 24  FOE                         1160 non-null   int64
 25  FOM                         1160 non-null   int64
 26  FIST                        1160 non-null   int64
 27  FCI                         1160 non-null   int64
 28  tertiary address            43 non-null     object
dtypes: float64(6), int64(8), object(15)
memory usage: 262.9+ KB

In [77]:
output_csv_path = 'master_df_3.csv'
master_df.to_csv(output_csv_path, index=False)

print(f"New DataFrame saved to '{output_csv_path}'")

New DataFrame saved to 'master_df_3.csv'