In [1]:
#read the new FOM list

In [2]:
#do one by one, follow the week 5
import pandas as pd
import warnings

# Ignore warnings temporarily
warnings.filterwarnings("ignore")

In [3]:
# Read the Excel file and create a DataFrame
excel_file = "ITPFOMexport.xlsx"
df = pd.read_excel(excel_file)

# Display the first few rows of the DataFrame
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 389 entries, 0 to 388
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   STUD_ID          389 non-null    int64
 1   N_OFFICIAL_NAME  389 non-null    object
 2   ACAD_ORG         389 non-null    object
 3   ACAD_PROG        389 non-null    object
 4   STRM             389 non-null    int64
 5   EXT_ORG_ID       389 non-null    object
 6   ORG_NAME         389 non-null    object
dtypes: int64(2), object(5)
memory usage: 21.4+ KB
None

In [4]:
unique_org_names = df['ORG_NAME'].unique()
df_unique_org = pd.DataFrame({'Unique_ORG_NAME': unique_org_names})
df_unique_org.to_excel('unique_FOM.xlsx', index=False)

# using the old code to pair the jobstreet to the company list

In [397]:
# # Create an empty DataFrame to collect paired rows
# #run this to clear the collection
# # Replace 'FOM.xlsx' with the actual path to your Excel file
# excel_file_path = 'sample_dataframe.xlsx'

# # Read the Excel file into a DataFrame
# # paired_rows_collection = pd.read_excel(excel_file_path)
# df_org_names = pd.read_excel(excel_file_path)
# # paired_rows_collection = pd.DataFrame()

In [8]:
# # Specify the path to your CSV file
# csv_file_path = '2.jobstreet_company_info_main_industry_class.csv'

# # Read the CSV file into a DataFrame
# df = pd.read_csv(csv_file_path)

In [610]:
# row_number

In [950]:
# Specify the row number you want to read
row_number = row_number +1
# row_number = 79 # For example, reading the third row (index 2)

# Read the specified row using iloc
selected_row = df_org_names.iloc[row_number]

print(selected_row)

IndexError: single positional indexer is out-of-bounds

In [948]:
# Replace 'keyword' with the keyword you want to search for
keyword = 'Zurich'

# Filter rows containing the keyword in the 'company_name' column
filtered_df = df[df['company_name'].str.contains(keyword, case=False, na=False)]

# Print the filtered DataFrame
print(filtered_df['company_name'])
filtered_df.count()

379                               Zurich Insurance Malaysia Berhad
676                                 Zurich Takaful Malaysia Berhad
1883                      Zurich General Insurance Malaysia Berhad
3084                         Zurich Life Insurance Malaysia Berhad
4144                             *Zurich Insurance Malaysia Berhad
7345                                               Zurich Malaysia
21307             MCIS Zurich Insurance Berhad (Agency Department)
22002                                        KEB Empire Zurich ALC
32041                                               TAKAFUL ZURICH
33186     MCIS Zurich Insurance Berhad (Life Business Development)
44605                             Zurich Insurance Malaysia Berhad
46897                        MCIS Zurich Insurance  ,Ampang Agency
47888                     SNGroup (Zurich Takaful Malaysia Berhad)
49438                     SNGroup (Zurich Takaful Malaysia Berhad)
56816                                         IWP (Zurich Takaful)
84216                                     Zurich Financial Advisor
142933                                                 Zurich Muar
169352                                          Zurich Takaful_nor
202088                           Mak,Ng,Shao & Kee (Menara Zurich)
207828                                                 MRMC ZURICH
210926                                  Zurich Takaful - IWP Group
213687                      Zurich Life Insurance Malaysia (North)
231611                                          Y&L Zurich Sdn Bhd
246970                                 MCIS Zurich (Ismail Agency)
Name: company_name, dtype: object

company_id                    24
company_name                  24
address                       11
company_name_slug             24
company_no                    14
reviews_count                 24
average_company_rating        24
company_review_summary_url    24
company_review_url            24
foreign_company_id            24
map_address                   11
map_latitude                   4
map_longitude                  4
industry                      24
website_url                    4
dtype: int64

In [949]:
#pairing the two and making a new dataframe

# Specify the row number you want to pair
#this one FROM JOBSTREET
row_number_2 = 3084  

# Read the specified rows from both DataFrames using iloc
selected_row_org_names = df_org_names.iloc[row_number]
selected_row_df = df.iloc[row_number_2]

# Concatenate the rows to create a new DataFrame
paired_row = pd.concat([selected_row_org_names, selected_row_df])

# Transpose the new DataFrame to have a single row
paired_row = paired_row.to_frame().transpose()

# Append the paired_row into the paired_rows_collection DataFrame
paired_rows_collection = paired_rows_collection.append(paired_row, ignore_index=True)

# Print the specific row using the row_number
print(paired_rows_collection.iloc[row_number])

Unique_ORG_NAME                              Zurich Life Insurance Malaysia
company_id                                                          1304551
company_name                          Zurich Life Insurance Malaysia Berhad
address                                                                 NaN
company_name_slug             zurich-life-insurance-malaysia-berhad-1304551
company_no                                                      IP0523522-W
reviews_count                                                            22
average_company_rating                                               4.0909
company_review_summary_url       /companies/1304551/company-reviews/summary
company_review_url                       /companies/1304551/company-reviews
foreign_company_id                                                 164215.0
map_address                                                             NaN
map_latitude                                                            NaN
map_longitude                                                           NaN
industry                                                          Insurance
website_url                                                             NaN
Name: 252, dtype: object

In [131]:
# #checking from jobstreet, assuming have multiples of the company
# # Specify the company name you want to search for
# target_company_name = 'Banyan Tree Kuala Lumpur'

# # Filter rows based on the specified company name
# target_company_rows = df[df['company_name'] == target_company_name]

# # Set the display option to show all the content of the columns
# pd.set_option('display.max_colwidth', None)

# # Print the entire rows for the target company
# print(target_company_rows)

In [943]:
# # Assuming df_org_names is your DataFrame
# selected_row_org_names = df_org_names.iloc[row_number]

# # List of column names for the empty columns
# empty_columns = [
#     'company_id',
#     'company_name',
#     'address',
#     'company_name_slug',
#     'company_no',
#     'reviews_count',
#     'average_company_rating',
#     'company_review_summary_url',
#     'company_review_url',
#     'foreign_company_id',
#     'map_address',
#     'map_latitude',
#     'map_longitude',
#     'industry',
#     'website_url'
# ]

# # Add the empty columns to the selected row
# for column in empty_columns:
#     selected_row_org_names[column] = None

# # Now, selected_row_org_names contains the original selected row with empty columns

# # selected_row_org_names
# # Append the paired_row into the paired_rows_collection DataFrame
# paired_rows_collection = paired_rows_collection.append(selected_row_org_names, ignore_index=True)

# # paired_rows_collection.head()
# # Print the specific row using the row_number
# print(paired_rows_collection.iloc[row_number])

In [951]:
# paired_rows_collection
paired_rows_collection.to_excel('sample_dataframe.xlsx', index=False)

In [405]:
# paired_rows_collection