In [77]:
import pandas as pd
import warnings
import numpy as np
# import re

# Suppress the specific UserWarning from openpyxl
warnings.filterwarnings("ignore", category=UserWarning, message="Data Validation extension is not supported")
warnings.filterwarnings("ignore", category=FutureWarning, message="The frame.append method is deprecated")

In [2]:
# import pandas as pd

# Replace 'FOM.xlsx' with the actual path to your Excel file
excel_file_path = 'FOM.xlsx'

# Read the Excel file into a DataFrame
df = pd.read_excel(excel_file_path)

# Now you can work with the 'df' DataFrame containing the Excel data
print(df.head())  # Display the first few rows of the DataFrame

  ACAD_ORG ACAD_PROG  STRM                           ORG_NAME
0      FOM      BB02  2010          PETRONAS CARIGALI SDN BHD
1      FOM      BB02  2010               Sapura Energy Berhad
2      FOM      BB02  2010  V'SHIELD SECURITY SERVICE SDN BHD
3      FOM      BB02  2010             MMC Corporation Berhad
4      FOM      BB10  2010              Kumpulan Voir Sdn Bhd

In [5]:
# Sort the DataFrame based on the 'ORG_NAME' column
df_sorted = df.sort_values(by='ORG_NAME')

# Now df_sorted contains the DataFrame sorted by the 'ORG_NAME' column
print(df_sorted.head())

    ACAD_ORG ACAD_PROG  STRM                                 ORG_NAME
103      FOM      BB11  2030  1Training Worklife Management Sdn. Bhd.
107      FOM      BB11  2030  1Training Worklife Management Sdn. Bhd.
359      FOM      BB01  2230           AC SUCCESS CONSULTANTS SDN BHD
95       FOM      BB01  2030                                   AFTAAS
377      FOM      BB02  2230                       AIA General Berhad

In [3]:
# Remove duplicates from the 'ORG_NAME' column
df_no_duplicates = df.drop_duplicates(subset=['ORG_NAME'])

# Now df_no_duplicates contains the DataFrame with duplicates removed from the 'ORG_NAME' column
print(df_no_duplicates.head())

  ACAD_ORG ACAD_PROG  STRM                           ORG_NAME
0      FOM      BB02  2010          PETRONAS CARIGALI SDN BHD
1      FOM      BB02  2010               Sapura Energy Berhad
2      FOM      BB02  2010  V'SHIELD SECURITY SERVICE SDN BHD
3      FOM      BB02  2010             MMC Corporation Berhad
4      FOM      BB10  2010              Kumpulan Voir Sdn Bhd

In [8]:
# Sort the DataFrame based on the 'ORG_NAME' column
df_sorted = df_no_duplicates.sort_values(by='ORG_NAME')

# Now df_sorted contains the DataFrame sorted by the 'ORG_NAME' column
print(df_sorted.head())

# Create a new DataFrame with only the 'ORG_NAME' column
df_org_names = df_sorted[['ORG_NAME']].copy()

    ACAD_ORG ACAD_PROG  STRM                                 ORG_NAME
103      FOM      BB11  2030  1Training Worklife Management Sdn. Bhd.
359      FOM      BB01  2230           AC SUCCESS CONSULTANTS SDN BHD
95       FOM      BB01  2030                                   AFTAAS
377      FOM      BB02  2230                       AIA General Berhad
70       FOM      BB10  2030                AIA Insurance and Finance

In [9]:
#save the new dataframe, which has been sorted and removed duplicates

# Specify the path where you want to save the Excel file
output_excel_file = 'FOM_sorted.xlsx'

# Save the sorted DataFrame to an Excel file
df_org_names.to_excel(output_excel_file, index=False)

print(f"DataFrame saved to {output_excel_file}")

DataFrame saved to FOM_sorted.xlsx

# now for pairing with the jobstreet

In [475]:
# # Create an empty DataFrame to collect paired rows
# #run this to clear the collection
# # Replace 'FOM.xlsx' with the actual path to your Excel file
# excel_file_path = 'new_dataframe_3_46 - Copy.xlsx'

# # Read the Excel file into a DataFrame
# paired_rows_collection = pd.read_excel(excel_file_path)
# # paired_rows_collection = pd.DataFrame()

In [ ]:
# # Specify the path to your CSV file
# csv_file_path = '2.jobstreet_company_info_main_industry_class.csv'

# # Read the CSV file into a DataFrame
# df = pd.read_csv(csv_file_path)

# Start the work here

In [1235]:
# print(row_number)

In [1313]:
# Specify the row number you want to read
row_number = row_number +1
# row_number = 79 # For example, reading the third row (index 2)

# Read the specified row using iloc
selected_row = df_org_names.iloc[row_number]

print(selected_row)

IndexError: single positional indexer is out-of-bounds

In [1310]:
# Replace 'keyword' with the keyword you want to search for
keyword = 'agoda'

# Filter rows containing the keyword in the 'company_name' column
filtered_df = df[df['company_name'].str.contains(keyword, case=False, na=False)]

# Print the filtered DataFrame
print(filtered_df['company_name'])
filtered_df.count()

60                       Agoda International (Malaysia) Sdn. Bhd.
1268                               AGODA (Customer Service Group)
6098                              Pagoda Foods (Malaysia) Sdn Bhd
19197                                           Agoda recruitment
19371                                           Agoda recruitment
41928                                         Agoda (The Network)
43240                 Agoda International Pte Ltd ( PH Division )
43381                 Agoda International Pte Ltd ( PH Division )
98928     EAGLE & PAGODA BRAND TECK AUN MEDICAL FACTORY SDN. BHD.
165268                                 PAGODA STEEL WORKS SDN BHD
212437                                                     pagoda
Name: company_name, dtype: object

company_id                    11
company_name                  11
address                        6
company_name_slug             11
company_no                     6
reviews_count                 11
average_company_rating        11
company_review_summary_url    11
company_review_url            11
foreign_company_id            11
map_address                    6
map_latitude                   2
map_longitude                  2
industry                      11
website_url                    3
dtype: int64

In [1259]:
# #checking from jobstreet, assuming have multiples of the company
# # Specify the company name you want to search for
# target_company_name = 'PULLMAN KUALA LUMPUR CITY CENTRE HOTEL & RESIDENCES'

# # Filter rows based on the specified company name
# target_company_rows = df[df['company_name'] == target_company_name]

# # Set the display option to show all the content of the columns
# pd.set_option('display.max_colwidth', None)

# # Print the entire rows for the target company
# print(target_company_rows)

In [1311]:
#pairing the two and making a new dataframe

# Specify the row number you want to pair
#this one FROM JOBSTREET
row_number_2 = 60  

# Read the specified rows from both DataFrames using iloc
selected_row_org_names = df_org_names.iloc[row_number]
selected_row_df = df.iloc[row_number_2]

# Concatenate the rows to create a new DataFrame
paired_row = pd.concat([selected_row_org_names, selected_row_df])

# Transpose the new DataFrame to have a single row
paired_row = paired_row.to_frame().transpose()

# print(paired_row)

In [1312]:
# # Specify the row number you want to read
# row_number = 75 # For example, reading the third row (index 2)

# # Read the specified row using iloc
# selected_row = df_org_names.iloc[row_number]

# print(selected_row)

# Append the paired_row into the paired_rows_collection DataFrame
paired_rows_collection = paired_rows_collection.append(paired_row, ignore_index=True)

# paired_rows_collection.head()
# Print the specific row using the row_number
print(paired_rows_collection.iloc[row_number])

ORG_NAME                                                                                                                      agoda
company_id                                                                                                                   451453
company_name                                                                               Agoda International (Malaysia) Sdn. Bhd.
address                       Nu Sentral Jalan Stesen Sentral 5 Brickfields Kuala Lumpur Federal Territory of Kuala Lumpur Malaysia
company_name_slug                                                                               agoda-international-malaysia-451453
company_no                                                                                                                 874570-V
reviews_count                                                                                                                   229
average_company_rating                                                                                                        4.262
company_review_summary_url                                                                /companies/451453/company-reviews/summary
company_review_url                                                                                /companies/451453/company-reviews
foreign_company_id                                                                                                          38895.0
map_address                   Nu Sentral Jalan Stesen Sentral 5 Brickfields Kuala Lumpur Federal Territory of Kuala Lumpur Malaysia
map_latitude                                                                                                                    NaN
map_longitude                                                                                                                   NaN
industry                                                                                                             Travel/Tourism
website_url                                                                                           http://www.careersatagoda.com
Name: 267, dtype: object

In [465]:
# print(paired_rows_collection)

# international company

In [1300]:
# Assuming df_org_names is your DataFrame
selected_row_org_names = df_org_names.iloc[row_number]

# List of column names for the empty columns
empty_columns = [
    'company_id',
    'company_name',
    'address',
    'company_name_slug',
    'company_no',
    'reviews_count',
    'average_company_rating',
    'company_review_summary_url',
    'company_review_url',
    'foreign_company_id',
    'map_address',
    'map_latitude',
    'map_longitude',
    'industry',
    'website_url'
]

# Add the empty columns to the selected row
for column in empty_columns:
    selected_row_org_names[column] = None

# Now, selected_row_org_names contains the original selected row with empty columns

# selected_row_org_names
# Append the paired_row into the paired_rows_collection DataFrame
paired_rows_collection = paired_rows_collection.append(selected_row_org_names, ignore_index=True)

# paired_rows_collection.head()
# Print the specific row using the row_number
print(paired_rows_collection.iloc[row_number])

ORG_NAME                      Zaxon Logistics
company_id                               None
company_name                             None
address                                  None
company_name_slug                        None
company_no                               None
reviews_count                            None
average_company_rating                   None
company_review_summary_url               None
company_review_url                       None
foreign_company_id                       None
map_address                              None
map_latitude                             None
map_longitude                            None
industry                                 None
website_url                              None
Name: 264, dtype: object

In [96]:
# print(selected_row_org_names)

In [1314]:
import pandas as pd

# Assuming you have the paired_rows_collection DataFrame
# If not, replace this with the DataFrame you want to save

# Specify the path where you want to save the Excel file
output_excel_file = 'new_dataframe_5_04.xlsx'

# Save the DataFrame to an Excel file
paired_rows_collection.to_excel(output_excel_file, index=False)

print(f"DataFrame saved to {output_excel_file}")

DataFrame saved to new_dataframe_5_04.xlsx

In [92]:
# # import pandas as pd

# # Assuming you have the df_org_names and df DataFrames
# # If not, you can replace this with your DataFrames

# # Create a DataFrame with the specified columns and NaN values
# empty_row = pd.DataFrame(columns=[
#     'company_id', 'company_name', 'address', 'company_name_slug', 'company_no', 
#     'reviews_count', 'average_company_rating', 'company_review_summary_url', 
#     'company_review_url', 'foreign_company_id', 'map_address', 'map_latitude', 
#     'map_longitude', 'industry', 'website_url'
# ])

# # Append the empty row to the paired_rows_collection DataFrame
# # paired_rows_collection = paired_rows_collection.append(empty_row, ignore_index=True)

# # print(paired_rows_collection)
# print(empty_row)

In [94]:
# # Create a dictionary with column names and NaN values
# empty_row_data = {
#     'company_id': float('nan'),
#     'company_name': float('nan'),
#     'address': float('nan'),
#     'company_name_slug': float('nan'),
#     'company_no': float('nan'),
#     'reviews_count': float('nan'),
#     'average_company_rating': float('nan'),
#     'company_review_summary_url': float('nan'),
#     'company_review_url': float('nan'),
#     'foreign_company_id': float('nan'),
#     'map_address': float('nan'),
#     'map_latitude': float('nan'),
#     'map_longitude': float('nan'),
#     'industry': float('nan'),
#     'website_url': float('nan')
# }

# # Create an empty row DataFrame using the dictionary
# empty_row = pd.DataFrame([empty_row_data])

# # Read the specified row from df_org_names using iloc
# selected_row_org_names = df_org_names.iloc[row_number]

# # Concatenate the rows to create a new DataFrame
# paired_row = pd.concat([selected_row_org_names, empty_row], axis=1)

# # Transpose the new DataFrame to have a single row
# paired_row = paired_row.transpose()

# print(paired_row)